a {
    text-decoration: none;
}

#header-iconsblock__icons {
    background-color: #004064;
}

#header-iconsblock__icons {
    display: flex;
    justify-content: space-between;
    width: 254px;
    height: 24px;
}

#header__icons-tel {
    display: flex;
    background-color: #f74e3d;
    border-radius: 24px;
    font-size: 16px;
    color: #EBEBEB;
    height: 22px;
    padding: 1px 10px;
}

#header__icons-tel:hover {
    background-color: #7da0b1;
    color: #000;
    transition-delay: 0.1s;
}

#header__icons-tel:hover #tel {
    fill: #000;
    transition-delay: 0.1s;
}

.icon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}

#tel {
    background-color: transparent;
    fill: #EBEBEB;
    margin-top: -1px;
}

#twitter {
    background-color: #03A9F4;
    fill: #fff;
}

#twitter:hover {
    background-color: #fff;
    fill: #03A9F4;
    transition-delay: 0.1s;
}

#youtube {
    --color-1: #fff;
    --color-2: #f00;
    background-color: #f00;
}

#youtube:hover {
    --color-1: #f00;
    --color-2: #fff;
    background-color: #fff;
    transition-delay: 0.1s;
}

#facebook {
    background-color: #fff;
    fill: #2196F3;
}

#facebook:hover {
    background-color: #2196F3;
    fill: #fff;
    transition-delay: 0.1s;
}

#instagram {
    --color-1: #da1f6d;
    --color-2: #fff;
}

#instagram:hover {
    --color-1: #fff;
    --color-2: #da1f6d;
    transition-delay: 0.1s;
}

#eye-bw {
    fill: #000;
}

#eye-bw:hover {
    background-color: #000;
    fill: #fff;
    transition-delay: 0.1s;
}