a {
    text-decoration: none;
}

/* #header-iconsblock__icons {
    background-color: #004064;
} */

#header-iconsblock__icons {
     background-color: #004064;
    display: flex;
    justify-content: space-between;
    width: 254px;
    height: 24px;
}

#header__icons-tel {
    display: flex;
    background-color: #f74e3d;
    border-radius: 24px;
    /* font-size: 16px; */
    color: #EBEBEB;
    height: 22px;
    padding: 1px 10px;
}

#tel-use {
    background-color: transparent;
    fill: #EBEBEB;
    margin-top: -1px;
}

#header__icons-tel:hover {
    background-color: #7da0b1;
    color: #000;
    transition-delay: 0.1s;
}

#header__icons-tel:hover #tel-use {
    fill: #000;
    transition-delay: 0.1s;
}

.icon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

#twitter-use {
    background-color: #03A9F4;
    fill: #fff;
}

#twitter-use:hover {
    background-color: #fff;
    fill: #03A9F4;
    transition-delay: 0.1s;
}

#youtube-use {
    background-color: #f00;
    --color-1: #fff;
    --color-2: #f00;
}

#youtube-use:hover {
    background-color: #fff;
    --color-1: #f00;
    --color-2: #fff;
    transition-delay: 0.1s;
}

#facebook-use {
    background-color: #2196F3;
    fill: #fff;
}

#facebook-use:hover {
    background-color: #fff;
    fill: #2196F3;
    transition-delay: 0.1s;
}

#instagram-use {
    --color-1: #da1f6d;
    --color-2: #fff;
}

#instagram-use:hover {
    --color-1: #fff;
    --color-2: #da1f6d;
    transition-delay: 0.1s;
}

#eye-bw-use {
    background-color: #fff;
    fill: #000;
}

#eye-bw-use:hover {
    background-color: #000;
    fill: #fff;
    transition-delay: 0.1s;
}